img{
    height: 200px;
    width: 200px;
    transition: 7s;
    mix-blend-mode: darken;
    text-align: center !important;
    margin-left: 20px;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#brands{
    margin-left: 15px; 
    height: 690px;
    /* text-align: justif; */
    margin-top: 20px;
    width: 430px;
    margin-top: 10px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 30px;
}
h1{
    text-align: center;
}
img:hover{
    transform: scale(1.2);
}
input{
    background-color: transparent !important;
}